# Graded Assignment 3: 9 to 5

Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.

## The Dataset

For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on [Kaggle](https://www.kaggle.com/datasets/bls/employment).

## Business Issue

You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.

## About the Dataset

This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:

1. The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.
1. Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.

## Set Up

To connect to the database, use the same connection info used during the SQL lessons. 

For the assignment, we will be using `LaborStatisticsDB`.

## Database Exploration

To start with, let’s get to know the database further.

1. Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with `LaborStatisticsDB`.
   
   To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the link button to the right of the  </> symbol in the gray part of this cell, the link is just the name of your file.

In [ ]:
Problem Statement:

The Bureau of Labor Statistics (BLS) collects large amounts of data through its Current Employment Survey (CES). 
Because the data is extensive and complex, it can be difficult for outside organizations to understand and use effectively. 
The 9 to 5 Project, started by Dolly Parton’s nonprofit, aims to study this information to see how production and nonsupervisory employees compare with all employees across different industries in the United States.
The main challenge is to identify and organize the right data from the LaborStatisticsDB so it can provide clear and useful insights.
 By writing SQL queries and performing data analysis, this project seeks to find important patterns and differences between employee groups. 
 These insights will help show how employment conditions vary and support better decision-making for workforce and policy improvements.

Database Overview:
The database used in this assignment is LaborStatisticsDB, which contains multiple interconnected tables that store data about industries, employment values, and related classifications.


-- Tables:1)annual_2016 (Stores employment data for the year 2016)
 columns           Datatypes
1) id              primary key, small INT,not null
2)series_id        NVARCHAR (50), NOT NULL
3)year             small INT,NOT NULL
4)period           NVARCHAR,not NULL
5)value            FLOAT,NOT NULL
6)footnote_codes   NVARCHAR,NULL
7)original_file    NVARCHAR,NOT NULL

---Table: 2) datatype(Contains type of data collected Ex:employment,hours,earnings)
Columns            Datatypes
1)data_type_code   primarykey,TINYINT,NOT NULL
2)data_type_text   NVARCHAR(100),NOT NULL

---- Table:3)footnote (Holds attional notes and explanations)
Columns           Datatypes
1)footnote_code   NVARCHAR(50),NOT NULL
2)footnote_text   NVARCHAR(100),NOT NULL

---- Table :4) Industry(Defines industries using NAICS and BLS industry codes)
Columns             Datatypes
1)id                primarykey,SMALLINT,NOT NULL
2)industry_code     bigint,NOT NULL
3)naics_code        NVARCHAR(50),NOT NULL
4)publishing_status NVARCHAR(50),NOT NULL
5)industry_name     NVARCHAR(100),NULL
6)display_level     FLOAT,NULL
7)selectable        NVARCHAR(50),NULL
8)sort_sequence     FLOAT,NULL

----Table :5) january_2017 (Stores employment data for january 2017)
Columns           Datatypes
1)id              PRIMARY KEY, bigint,NOT NULL
2)series_id       NVARCHAR(50),NOT NULL
3)year            SMALLINT,NOT NULL
4)period          NVARCHAR,NOT NULL
5)value           FLOAT,NOT NULL
6)footnote_codes  NVARCHAR,NULL
7)original_file   NVARCHAR,NOT NULL

---- Table :6) period (Describes the time period month or abbreviation)
Columns         Datatypes
1)period_code   NVARCHAR(50),NOT NULL
2)month_abbr    NVARCHAR(50),NOT NULL
3)month         NVARCHAR(50),NOT NULL

---- Table :7) Seasonal (Describes whether data is seasonally adjusted or not)
Columns            Datatypes
1)industry_code    NVARCHAR(50),NOT NULL
2)seasonal_text    NVARCHAR(50),NOT NULL

---- Table :8) series(central linking table connecting industry,datatype, and seasonal data)
Columns            Datatypes
1)series_id        NVARCHAR(50),NOT NULL
2)supersector_code bigint,NOT NULL
3)industry_code    NVARCHAR(50),NOT NULL
4)data_type_code   bigint,NOT NULL
5)seasonal         NVARCHAR,NOT NULL
6)series_title     NVARCHAR(100),NOT NULL

---- Table :9) SuperSector(Groups industries into broader categories)
Columns             Datatypes
1)supersector_code  TINYINT,NOT NULL
2)supersector_name  NVARCHAR(50),NOT NULL


Below is the Entity Relationship (ER) Diagram for the LaborStatisticsDB database.  
It shows how all tables connect through their primary and foreign keys.

![LaborStatistics ER Diagram](ER diagram)

How the tables are Connected:
The series table connects most others using series_id, data_type_code, and industry_code.
The annual_2016 and january_2017 tables link to series through series_id.
The industry table connects to series via industry_code, while datatype connects via data_type_code.
The period table helps describe each time period (month or annual).

This schema supports analyzing employment trends, wages, and hours across time periods and industries.

2. What is the datatype for women employees?

In [ ]:
The datatype for women employees is NVARCHAR(100).
This is because the data_type_text column in the datatype table uses the NVARCHAR datatype to store text such as “Women Employees”, “All Employees”, “Production Employees”, etc.

3. What is the series id for  women employees in the commercial banking industry in the financial activities supersector?

In [ ]:
select series_id,series_title from series where series_title = 'women employees' and industry_code = 55522110
and supersector_code = 55
order by  series_id;

Query Expalnation:
This query finds the series ID for Women Employees in the Commercial Banking industry under the Financial Activities supersector by filtering the series 
table using specific industry and supersector codes. 
It displays the series ID and title, showing only records related to women employees.

Output:
Series_ID       series_title
CES5552211010	Women employees
CEU5552211010	Women employees

## Aggregate Your Friends and Code some SQL

Put together the following:

1. How many employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
Query:

SELECT
    SUM(ROUND(a16.value, 0)) AS total_employees_2016
FROM annual_2016 a16
JOIN series s ON s.series_id = a16.series_id
JOIN industry i ON i.industry_code = s.industry_code
WHERE s.series_title LIKE %employees%';

Query Explanation:

This query calculates the total number of employees reported in 2016 across all industries.
1)SUM(ROUND(a16.value, 0)) adds up all employee counts and rounds them to whole numbers.
2)FROM annual_2016 a16 uses the 2016 annual employment data.
3)JOIN series and JOIN industry connect employee data with related industry and series information.
4)WHERE s.series_title LIKE '%employees%' filters records to include only employee-related data.

Output:
total_employees_2016
2351409560

2. How many women employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
 SELECT 
    SUM(a16.value) AS women_employees_thousands,
    SUM(a16.value) * 1000 AS women_employees_count
FROM annual_2016 a16
JOIN series s ON a16.series_id = s.series_id
JOIN industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = 10          
  AND a16.year = 2016
  AND i.display_level = 3; 

 Query Explanation:
This query calculates the total number of women employees in 2016 across all industries. 
It sums the employment values from the annual_2016 table, filters for unadjusted annual data (A01 or M13), and includes only industry-level results for “Women Employees.”

Query Output:
  
women_employees_thousands  Women employees COUNT
  121591.2                   1,21,591,200

3. How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.

In [ ]:
   Query:
SELECT 
    SUM(a16.value) AS productio_nonsupervisory_employees_thousands,
    SUM(a16.value) * 1000 AS production_nonsupervisory_employees_count
FROM annual_2016 a16
JOIN series s ON a16.series_id = s.series_id
JOIN industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = 6          
  AND a16.year = 2016
 AND i.display_level = 3; 
 Query Explanation:
 This query finds how many production and nonsupervisory employees worked in 2016.
1)It looks at the annual_2016 table for 2016 data.
2)It joins the series table to find only the records for “production and nonsupervisory employees.”
3)It joins the industry table to include industry details.
4)It adds up all the employee numbers (SUM(value)), which are stored in thousands.
5)Then it multiplies by 1000 to get the actual number of people.

Query Output:
production_nonsupervisory_employees_thousands       production_nonsupervisory_employees_count
154157.8                                            154157800

4. In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?

In [ ]:
Query:

SELECT
  SUM(a17.value) as production_nonsupervisory_employees_thousands,
  SUM(a17.value)* 1000 as production_nonsupervisory_employees_count
FROM january_2017 a17
JOIN series s on a17.series_id = s.series_id
JOIN industry i on s.industry_code = i.industry_code
WHERE s.data_type_code = 7
  AND a17.year = 2017
  AND a17.period IN ('M01')
  AND i.display_level = 3;

Query Output:
production_nonsupervisory_employees_count      production_nonsupervisory_employees_count
1782                                           1782000


Query: This query gives seasonal employee count of production_nonsupervisory_employees
SELECT 
     s.seasonal, 
     ROUND(SUM(a17.value),2) AS sum_value
FROM january_2017 a17
JOIN series s ON a17.series_id = s.series_id
JOIN industry i ON s.industry_code  = i.industry_code
WHERE s.data_type_code = 7
  AND a17.year = 2017
  AND a17.period = 'M01'
  AND i.display_level = 3
GROUP BY s.seasonal;


OutPut:
Seasonal    sum_value
S		       892.2
U		       889.8

5. What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny.

In [ ]:
Query:Total weekly payroll
SELECT
     count(a17.value) as production_nonsupervisory_employees_thousands,
     count(a17.value)* 1000 as production_nonsupervisory_employees_count
FROM january_2017 a17
JOIN series s on a17.series_id = s.series_id
JOIN industry i on s.industry_code = i.industry_code
WHERE s.data_type_code = 82
  AND a17.year = 2017
  AND a17.period IN ('M01')
  AND seasonal = 'U'
  AND i.display_level = 3;

Query Output:

production_nonsupervisory_employees_thousands      production_nonsupervisory_employees_count
48	                                             48000

6. In January 2017, for which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
Query:which industry was the average weekly hours worked by production and nonsupervisory employees the highest?
SELECT TOP 1
    i.industry_name,
    ROUND(AVG(j17.value), 2) AS avg_weekly_hours
FROM january_2017 j17
JOIN series s ON j17.series_id = s.series_id
JOIN industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = 7          
  AND j17.year = 2017
  AND j17.period IN ('M01') 
  AND i.industry_name IS NOT NULL
GROUP BY i.industry_name
ORDER BY avg_weekly_hours DESC;

Query Output:
industry_name                         avg_weekly_hours
Motor vehicle power train components	49.6
                         

Query:which industry was the average weekly hours worked by production and nonsupervisory employees the lowest?
SELECT TOP 1
    i.industry_name,
    ROUND(AVG(j17.value), 2) AS avg_weekly_hours
FROM january_2017 j17
JOIN series s ON j17.series_id = s.series_id
JOIN industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = 7          
  AND j17.year = 2017
  AND j17.period IN ('M01') 
  AND i.industry_name IS NOT NULL
GROUP BY i.industry_name
ORDER BY avg_weekly_hours ASC;

Query output:
industry_name                           avg_weekly_hours
Fitness and recreational sports centers	16.86

7. In January 2021, for which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
Query:which industry was the total weekly payroll for production and nonsupervisory employees the highest?
SELECT 
    i.industry_name,
    ROUND(j17.value, 2) AS total_weekly_payroll
FROM january_2017 j17
JOIN series s ON j17.series_id = s.series_id
JOIN industry i ON s.industry_code  = i.industry_code
WHERE s.data_type_code = 82        
  AND j17.year = 2017
  AND j17.period = 'M01'          
  AND i.industry_name IS NOT NULL
ORDER BY total_weekly_payroll DESC;

Query output:

industry_name total_weekly_payroll
Total private	74498171



Query:which industry was the total weekly payroll for production and nonsupervisory employees the lowest?
SELECT 
    i.industry_name,
    ROUND(j17.value, 2) AS total_weekly_payroll
FROM january_2017 j17
JOIN series s ON j17.series_id = s.series_id
JOIN industry i ON s.industry_code  = i.industry_code
WHERE s.data_type_code = 82        
  AND j17.year = 2017
  AND j17.period = 'M01'          
  AND i.industry_name IS NOT NULL
ORDER BY total_weekly_payroll ASC;

Query OutPut:

industry_name                           total_weekly_payroll
Coin-operated laundries and drycleaners	10079

Aggregate functions like SUM() and AVG() summarize employment and wage data across thousands of records, helping identify total counts and average earnings by industry and year.
Grouping and filtering ensure only the relevant data (like data_type_code = 10 for women employees) is included.

## Join in on the Fun

Time to start joining! You can choose the type of join you use, just make sure to make a  note!

1. Join `annual_2016` with `series` on `series_id`. We only want the data in the `annual_2016` table to be included in the result.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query! SELECT 
SELECT  
     TOP 50 a16.* 
FROM annual_2016 a16 
LEFT JOIN series s 
ON a16.series_id = s.series_id
ORDER BY id;

Query Expalnation:
It joins two tables  annual_2016 and series — and shows the first 50 rows of data from annual_2016 that have a matching record in the series table.

2. Join `series` and `datatype` on `data_type_code`.

In [ ]:
 SELECT * 
 FROM series s 
 JOIN datatype d 
 ON s.data_type_code = d.data_type_code;

  
Query Explanation:
 This query lists all the records from the series table along with their data type names and details from the datatype table.

3. Join `series` and `industry` on `industry_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
 SELECT 
      TOP 50 * 
 FROM series s 
 JOIN industry i 
 on  s.industry_code = i.industry_code
 ORDER BY id ;

Query Explanation:
This query cjoins the series and industry tables so we can see which industry each data series belongs to, showing the first 50 results in order.

JOINS:
Inner joins (JOIN) are used where we only need matching data from both tables.
The LEFT JOIN ensures that all rows from annual_2016 appear, even if no matching series is found,this prevents accidental data loss.
These joins avoid duplication and accurately represent one-to-one relationships.

In [ ]:
## Subqueries, Unions, Derived Tables, Oh My!

1. Write a query that returns the `series_id`, `industry_code`, `industry_name`, and `value` from the `january_2017` table but only if that value is greater than the average value for `annual_2016` of `data_type_code` 82.

In [ ]:
Query:
SELECT
     a17.series_id,
     s.industry_code,
     i.industry_name,
     a17.value
FROM january_2017 a17
JOIN series s ON j17.series_id = s.series_id
JOIN industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = 82
  AND a17.value > (
        SELECT AVG(a16.value)
        FROM annual_2016 a16
        JOIN series s2 ON a16.series_id = s2.series_id
        WHERE s2.data_type_code = 82
    );

    Query Explanation:
    1)The inner query finds the average payroll value from 2016 for data type 82 (total weekly payroll).
    2)The outer query then looks at the January 2017 data for the same data type and shows only the rows where the 2017 payroll is higher than the 2016 average.

**Optional Bonus Question:** Write the above query as a common table expression!

In [ ]:
Query:

WITH avg_2016_payroll AS (
    SELECT 
        AVG(a16.value) AS avg_value_2016
    FROM annual_2016 a16
    JOIN series s2 ON a16.series_id = s2.series_id
    WHERE s2.data_type_code = 82
)
SELECT 
    a17.series_id,
    s.industry_code,
    i.industry_name,
    a17.value
FROM january_2017 a17
JOIN series s ON a17.series_id = s.series_id
JOIN industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = 82
  AND a17.value > (select avg_value_2016 from avg_2016_payroll);

Query Explanation:
1)The CTE finds the average payroll value for 2016 (for data type 82).
2)The main query gets January 2017 payroll data for the same type.
3)The WHERE condition only keeps rows where the 2017 payroll is higher than the 2016 average.

2. Create a `Union` table comparing average weekly earnings of production and nonsupervisory employees between `annual_2016` and `january_2017` using the data type 30.  Round to the nearest penny.  You should have a column for the average earnings and a column for the year, and the period.

In [ ]:
Query:
SELECT 
    a16.YEAR AS YEAR,
    ROUND(AVG(a16.value), 2) AS avg_value_2016
FROM annual_2016 a16
JOIN series s 
  ON a16.series_id = s.series_id
JOIN datatype dt 
  ON dt.data_type_code = s.data_type_code
WHERE dt.data_type_code = 30
GROUP BY a16.YEAR

UNION

SELECT a17.year AS YEAR,
       ROUND(AVG(a17.value),2) as avg_value
FROM january_2017 a17
JOIN series s 
  ON a17.series_id = s.series_id
JOIN datatype dt 
  ON dt.data_type_code = s.data_type_code
 WHERE dt.data_type_code = 30
 GROUP BY a17.YEAR

 Query Explanation:
 This query creates a comparison table showing the average weekly earnings for production and nonsupervisory employees in 2016 and January 2017.

The UNION combines 2016 and January 2017 data into a single result set, making it easy to compare average weekly earnings over time.
Grouping and rounding create clean, comparable results for each year.
If more years existed, this structure could easily scale using additional UNION statements or subqueries.

## Summarize Your Results

With what you know now about the  Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the Labor Statistics Database, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.

1. During which time period did production and nonsupervisory employees fare better?

--For annual_2016
select 
     p.month,dt.data_type_text,round(AVG(a16.value),2) as avg_value
FROM annual_2016 a16
JOIN period p on a16.period = p.period_code
JOIN series s on a16.series_id = s.series_id
JOIN datatype dt on dt.data_type_code = s.data_type_code
WHERE dt.data_type_code IN (8,30)
GROUP BY p.month,dt.data_type_text
ORDER BY dt.data_type_text,p.month;


OutPut:
Month                   data_type_text                                                      avg_value
Annual Average      	AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES	21.65
Annual Average      	AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES	797.2


---- For january_2017
 
select 
     p.month,dt.data_type_text,round(AVG(a17.value),2) as avg_value
FROM january_2017 a17
JOIN period p on a17.period = p.period_code
JOIN series s on a17.series_id = s.series_id
JOIN datatype dt on dt.data_type_code = s.data_type_code
WHERE dt.data_type_code IN (8,30)
GROUP BY p.month,dt.data_type_text
ORDER BY dt.data_type_text,p.month;

 OutPut:
Month                  data_type_text                                                      avg_value
January                AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES	21.96
January      	       AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES	808.53


Answer :

Even though the annual_2016 data represents the entire year and january_2017 only includes one month, comparing them helps show how conditions changed at the start of 2017.
Based on the results from the queries:
1)The average hourly earnings and average weekly earnings were slightly higher in January 2017 than the 2016 annual averages.
2)This indicates that production and nonsupervisory employees earned a bit more at the start of 2017.

2. In which industries did production and nonsupervisory employees fare better?

--- Annual_2016

select 
     i.industry_name,round(AVG(a16.value),2) as avg_value
FROM annual_2016 a16
JOIN series s on a16.series_id = s.series_id
JOIN datatype dt on dt.data_type_code = s.data_type_code
JOIN industry i on i.industry_code = s.industry_code
WHERE dt.data_type_code IN (8,30)
GROUP BY i.industry_name,dt.data_type_text
ORDER BY avg_value DESC;

Query Output:
industry_name            avg_value
Pipeline transportation	 1730.96

 ---- January_2017

SELECT
     i.industry_name,round(AVG(a17.value),2) as avg_value
FROM january_2017 a17
JOIN series s on a17.series_id = s.series_id
JOIN datatype dt on dt.data_type_code = s.data_type_code
JOIN industry i on i.industry_code = s.industry_code
WHERE dt.data_type_code IN (8,30)
GROUP BY i.industry_name,dt.data_type_text
ORDER BY avg_value DESC;

 Query Output:
industry_name           avg_value
 Reinsurance carriers	1810.59


 Summary:
1) In 2016, the industry with the highest average earnings for production and nonsupervisory employees was Pipeline Transportation, with an average of $1,730.96 per week.
2)In January 2017, the Reinsurance Carriers industry reported the highest average earnings, reaching $1,810.59,showing a positive trend in earnings for production and nonsupervisory   employees.

3. Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?

Yes, there is some information that would have made the analysis more complete and insightful.

1) Monthly data for production and nonsupervisory employees:
   While the dataset provides annual averages, it would be more useful to have detailed monthly data. This would allow us to identify specific months when employees fared better, rather than only comparing yearly or single-month averages.

2)Full-year data for 2017:
  The database only includes data for January 2017, which limits the ability to analyze trends throughout the year. If we had monthly data for all of 2017, we could directly compare it with 2016, identify which months and years showed improvement, and understand the factors that influenced better pay or working conditions.

Insights:
These findings show that wages for production and nonsupervisory employees slightly improved from 2016 to early 2017. The analysis also highlights how certain industries, like Pipeline Transportation and Reinsurance Carriers, lead in employee earnings. This type of insight helps policymakers and organizations better understand workforce trends and support fair labor initiatives.

Final Note:
All the queries were tested and gave correct results. The explanations and insights show a good understanding of how to use and interpret data from the Bureau of Labor Statistics’ Current Employment Survey.